---

---
<article id="about" class="about box center bg-slate-100">
  <section class="title center">
  <h2>Who is IO Forge?</h2>
  </section>
  <section class ="center text about_container">
    <p>A veteran owned company that builds customized software for other veteran businesses to increase automation, efficiency, and production.
    We specialize in data science, by creating tools that analyze all your resources, labor force, and assets.
    These tools can be used to automate some of your company's workload and helps you find inefficiencies in your business algorithm.
    We can also build a web portal for remote access, so any of your workforce and access this information instantly.</p>
  </section>
</article>
<style>
  .about_container{
    border-top:1px solid;    padding:5%;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius:10px;
  }
  .text{
    padding:10%;
    text-align: left;
	  line-height: 2;
  }
  .title{
    padding:5%;
    border-bottom:1px solid;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius:10px;
  }
  @media(max-width:670px)
  {
    .text{
      font-size:14px;
    }
  }

</style>