---

---
<article id="about" class="about box center bg-teal-50">
  <h2>Who is IO Forge?</h2>
  <section class ="center text">
    <p>A veteran owned company that builds customized software for other veteran businesses to increase automation, efficiency, and production.
    We specialize in data science, by creating tools that analyze all your resources, labor force, and assets.
    These tools can be used to automate some of your company's workload and allows you to find issue in your business algorithm.
    We can also build a web portal for remote access, so any of your workforce and access this information instantly.</p>
  </section>
</article>
<style>
  .text{
    padding:10%;
    text-align: left;
	  
	  line-height: 2;
  }
  @media(max-width:660px)
  {
    .text{
      font-size:14px;
    }
  }

</style>