---

---
<article id="about" class="about center bg-teal-50">
  <section class ="center">
    <h2>Who is IO Forge?</h2>
    <p>A veteran owned company that builds customized software for other veteran businesses to increase automation, efficiency, and production.</p>
  </section>
</article>
<style>

</style>