---

---
<section id="about" class="about center">
  <article class ="center">
    <h2>Who is IO Forge?</h2>
    <p>A veteran owned company that builds customized software for other veteran businesses to increase automation, efficiency, and production.</p>
  </article>
  <figure>

  </figure>
  <figcaption>
  </figcaption>
</section>
<style>
  section{
    height:100vh;
    width:100%;
    border:2rem solid;
  }
  article{
    border:1rem solid;
  }
  .center{
    display:grid;
    place-items:center;
  }
</style>