---

---
<article id="contact" class="contact box center bg-yellow-50">
  <section>
    <h2 class="text-lg center">Contact IO Forge</h2>
    <p></p>
    <form class="p-5">
      <p class="mb-5">Please enter your email and a message.</p>
      <input  type="text" name="email" value="email@example.com"/>
      <input  type="text" name="message" value="Your message here"/>
  </form>
</section>
  
  
  
</article>
<style>
 
</style>