---

---
<article id="contact" class="core_section box center bg-slate-100">
  <section class="title center shadow-lg bg-slate-200">
  <h2 class="drop-shadow-lg h2Text">Contact IO Forge</h2>
  </section>
  <section class="form shadow-lg bg-slate-200 pb-10">
  <form>
    <div class="mb-4">
      <label class="block text-gray-700  font-bold mb-2 pText" for="name">Name</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Enter your name">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700  font-bold mb-2 pText" for="email">Email</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="email" placeholder="Enter your email">
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2 pText" for="message">Message</label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="message" rows="4" placeholder="Enter your message"></textarea>
    </div>
    <button class="bg-slate-500 bg-shadow-xl text-white hover:bg-slate-700 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline btn btnText" type="submit">Submit</button>
  </form>
</section> 
</article>
<style>
 .form{
  
  padding:5%;
  border-radius:10px;
 }
 .title{
  border-radius:10px;
  color:rgb(100, 100, 100);
  font-weight:bold;
  margin-bottom:10%;
 }

 .btn:hover{
  transform:scale(1.2);
 }
 .btn:active{
  color:cadetblue;
  transform:scale(1.0);
 }
 
</style>