---

---
<section id="contact" class="contact center">
  <article>
    <h2>Contact IO Forge</h2>
    <p></p>
  </article>
  <figure>

  </figure>
  <figcaption>
  </figcaption>
</section>
<style>
  section{
    height:100vh;
    width:100%;
    border:2rem solid;
  }
  article{
    border:1rem solid;
  }
  .center{
    display:grid;
    place-items:center;
  }
</style>