---

---
<article id="feature" class="features box center">
  <section class="center title">
    <h2>Features of IO Forge</h2>
    
  </section>
  <article class="feature_container">

    <section class="feature">
      <figure>
    </figure>
    <figcaption>
      <h2>Feature One</h2>
      <p>SubText</p>
    </figcaption>
  </section>

    <section class="feature">
      <figure>
    </figure>
    <figcaption>
      <h2>Feature Two</h2>
      <p>SubText</p>
    </figcaption>
  </section>

    <section class="feature">
      <figure>
    </figure>
    <figcaption>
      <h2>Feature Three</h2>
      <p>SubText</p>
    </figcaption>
  </section>

  <section class="feature">
    <figure>
  </figure>
  <figcaption>
    <h2>Feature One</h2>
    <p>SubText</p>
  </figcaption>
</section>

  <section class="feature">
    <figure>
  </figure>
  <figcaption>
    <h2>Feature Two</h2>
    <p>SubText</p>
  </figcaption>
</section>

  <section class="feature">
    <figure>
  </figure>
  <figcaption>
    <h2>Feature Three</h2>
    <p>SubText</p>
  </figcaption>
</section>

<section class="feature">
  <figure>
</figure>
<figcaption>
  <h2>Feature One</h2>
  <p>SubText</p>
</figcaption>
</section>

<section class="feature">
  <figure>
</figure>
<figcaption>
  <h2>Feature Two</h2>
  <p>SubText</p>
</figcaption>
</section>

<section class="feature">
  <figure>
</figure>
<figcaption>
  <h2>Feature Three</h2>
  <p>SubText</p>
</figcaption>
</section>

</article>
</article>
<style>
.feature_container{
  height:75%;
  width:75%;
  padding:5%;
  display:grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%; 
  column-gap: 5%;
  row-gap: 5%;
}

.features{
  --tw-bg-opacity: 1;
  		background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  height:200vh;
  width:100%;
}


.feature {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}
</style>