---

---
<article id="features" class=" core_section center bg-slate-200">
    <section class="title center bg-slate-100">
    <img  src="nlogo2.webp" alt="hero logo" width="125px" height="125px"/>
    <h2 class="h2Text" >Features of IO Forge</h2>
    </section>
  <article class="feature_container bg-slate-100  ">

    <section class="feature">
      <img class="feature_one" width="150px" height="150px" alt="feature2"  src="dbfeature.webp">
    <section class="text">
      <h3 class="fTitle h3Text">Database-Driven</h3>
      <p class="fText pText"><em>Hard-coded processes and algorithms are built into the database to enhance performance.</em></p>
      <p class="fText pText"><em>Relational and Non-Relational Databases are supported</em></p>
    </section>
  </section>
    
    <section class="feature bg-slate-200">
      <img class="feature_one"  width="150px" height="150px" alt="feature1"  src="charts2.webp" >
    <section class="text bg-slate-100">
      <h3 class="fTitle h3Text">Data Analysis</h3>
      <p class="fText pText"><em>We can connect your current system to our database and integrate all your data into our system.</em></p>
      <p class="fText pText"><em>Our programming data analysts make this a seamless transition with data pre-processing tools and techniques. </em></p>
    </section>
  </section>

 
  <section class="feature">
    <img class="feature_one" width="150px" height="150px" alt="feature3"  src="ioforgesystem.webp">
  <section class="text">
    <h3 class="fTitle h3Text">Machine Learning and Automation</h3>
    <p class="fText pText"><em>Machine Learning algorithims with analyze and optimize your data.</em></p>
    <p class="fText pText"><em>Automation will be applied where it can be to further increase efficency. </em></p>
  </section>
  </section>

  <section class="feature">
    <img class="feature_one" width="150px" height="150px" alt="feature4"  src="erpfeature.webp">
  <section class="text">
    <h3 class="fTitle h3Text">Enterprise Resource Planning</h3>
    <p class="fText pText"><em>This the advanced level of the system, it provides high level control over all aspects of your company.</em></p>
    <p class="fText pText"><em>Built for maximum efficency and based on all modern business enterprise resource planning systems.</em></p>
  </section>
</section>

<section class="feature">
  <img class="feature_one" width="150px" height="150px" alt="feature6"  src="widget.webp">
<section class="text">
  <h3 class="fTitle h3Text">Website and App Development</h3>
  <p class="fText pText"><em>Front-End and Back-End development using modern frameworks and libraries.</em></p>
  <p class="fText pText"><em>We can add a web-facing presence to your company with modern web-design techniques.</em></p>
</section>
</section>

<section class="feature">
  <img class="feature_one" width="150px" height="150px" alt="feature5"  src="webport.webp">
<section class="text">
  <h3 class="fTitle h3Text">Web Portals and Platforms</h3>
  <p class="fText pText"><em>We integrate all these features into customizable widget components to create dashboards for operation.</em></p>
  <p class="fText pText"><em>An easy to use data visualization and management system fully connected to our database-driven system. </em></p>
</section>
</section>





</article>
</article>
<style>
.feature_container{
  height:auto;
  width:100%;
  padding:5%;
  padding-bottom:40%;
  display:grid;
  grid-template-columns: 47% 48%;
  grid-template-rows: 33% 33% 33%; 
  column-gap: 5%;
  row-gap: 5%;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  margin-bottom:5%;
  border-radius:10px;
}

.title{

    color:rgb(100, 100, 100);
    font-weight:bold;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius:10px;
  margin-bottom:10%;
  
}
.text{
  padding:5%;
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
  border-radius:10px;
  border:1px solid black;
}


.feature {
  border:1px solid black;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  display: grid;
  grid-column: auto;
  place-items:center;
  
  /* flex-direction: column;
  align-items: center;
  justify-content: space-evenly; */

  height:auto; 
  width:auto;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  border-radius:10px;
  padding-left:10%;
  padding-right:10%;
  padding-top:10%;
  padding-bottom:25%;
}
.feature_one{
  
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:10px;
  min-height:200px;
  min-width:200px;
  margin:5%;
  max-width:auto;
  height:auto;

  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
h3{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.fTitle{
  color: black;
  font-weight:bold;

  
}
.fText{
  color: BLACK;
  
 
}
@media (max-width:900px) {
		.feature_container{
      padding:5%;
      width:100%;
      display:flex;
      flex-direction: column;
      gap:20px;
      height:auto;
      
    }

    .feature{
      padding:7%;
      
    }
    
    
		
	}


</style>