---

---
<section id="feature" class="features center bg-blue-50">
  <article class="center">
    <h2>Why use IO Forge?</h2>
    
  </article>
  <section class="feature_container">

    <article class="feature">
      <figure>
    </figure>
    <figcaption>
      <h2>Feature One</h2>
      <p>SubText</p>
    </figcaption>
  </article>

    <article class="feature">
      <figure>
    </figure>
    <figcaption>
      <h2>Feature Two</h2>
      <p>SubText</p>
    </figcaption>
  </article>

    <article class="feature">
      <figure>
    </figure>
    <figcaption>
      <h2>Feature Three</h2>
      <p>SubText</p>
    </figcaption>
  </article>
  
  </section>
</section>
<style>
.feature_container{
  
  padding:5%;
  display:grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%; 
  column-gap: 5%;
  row-gap: 5%;
}



.box {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}
</style>