---

---
<article id="feature" class=" center">
  <section class="center title">
    <h2>Features of IO Forge</h2>
    
  </section>
  <article class="feature_container features text">

    <section class="feature">
      <figure class="feature_one">
    </figure>
    <figcaption>
      <h2>Feature One</h2>
      <p>SubText</p>
    </figcaption>
  </section>

    <section class="feature">
      <figure class="feature_one">
    </figure>
    <figcaption>
      <h2>Feature Two</h2>
      <p>SubText</p>
    </figcaption>
  </section>

    <section class="feature">
      <figure class="feature_one">
      </figure>
    <figcaption>
      <h2>Feature Three</h2>
      <p>SubText</p>
    </figcaption>
  </section>

  <section class="feature">
    <figure class="feature_one">
  </figure>
  <figcaption>
    <h2>Feature One</h2>
    <p>SubText</p>
  </figcaption>
</section>

  <section class="feature">
   <figure class="feature_one">
   </figure>
  <figcaption>
    <h2>Feature Two</h2>
    <p>SubText</p>
  </figcaption>
</section>

  <section class="feature">
    <figure class="feature_one">
  </figure>
  <figcaption>
    <h2>Feature Three</h2>
    <p>SubText</p>
  </figcaption>
</section>

<section class="feature">
  <figure class="feature_one">
</figure>
<figcaption>
  <h2>Feature One</h2>
  <p>SubText</p>
</figcaption>
</section>

<section class="feature">
  <figure class="feature_one">
</figure>
<figcaption>
  <h2>Feature Two</h2>
  <p>SubText</p>
</figcaption>
</section>

<section class="feature">
  <figure class="feature_one">
</figure>
<figcaption>
  <h2>Feature Three</h2>
  <p>SubText</p>
</figcaption>
</section>

</article>
</article>
<style>
.feature_container{
  height:75%;
  width:75%;
  padding:5%;
  display:grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%; 
  column-gap: 5%;
  row-gap: 5%;
}

.features{
  --tw-bg-opacity: 1;
  		background-color: rgb(248 250 252 / var(--tw-bg-opacity));
  height:200vh;
  width:100%;
}


.feature {
  background: #444;
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #AAA;
  
}
.feature_one{
  background-image:url("/ioproduct1.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  
  min-height:120px;
  min-width:120px;
  max-height:fit-content;
  max-width:fit-content;
}
.title{
  margin-top:20%;
  margin-bottom:10%;
}
@media (max-width:670px) {
		.feature_container{
      padding:0%;
      width:100%;
      display:flex;
      flex-direction: column;
      gap:1%;
      
    }
    .features{
      height:250vh;
    }
    .feature_one{
      min-width:75px;
      min-height: 75px;
    }
    
    .text{
      font-size: 14px;
    }
    
		
	}

</style>