---
import HeaderLink from "./HeaderLink.astro";
---
<article id="/" class="hero responsive bg-slate-800 ">
  <section class="center hero_container">
    <h1 class="hTitle m-10 ">I.O. Forge</h1>
    <p class="hText">Software Solutions for Enterprise Resource Planning</p>
    <HeaderLink href="#contact" class="text-2xl p-5 bg-slate-400 icon shadow-2xl m-10">Contact</HeaderLink>
  </section>
</article>
<style>
  section{
    color:aliceblue;
  }
  .hero_container{
    border-radius:10px;
    background-color: rgba(0, 0, 0, 0.589);
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
  }
  .hero{
    /* background-image:url("/iohero.svg"); */
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .icon{
    border-radius:10px;
  }
  .icon:hover{
    --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  transform:scale(1.2)
  }
  .icon:active{
    --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  color:cadetblue
  }
  .hTitle{
    font-size: 80px;
    padding:5%;
    width:100%;
  }
  .hText{
    padding:5%;
  }
  p{
    font-size:35px;
    color:rgb(235, 233, 233);
    
    padding:2%;
    border-radius:10px;
  }
  @media(max-width:1000px){
    
    .hTitle{
      font-size:60px;
    }
    p{
      font-size:25px;
    }
  }


  @media (max-width:670px) {
		
    .hTitle{
      font-size:40px;
    }
    p{
      font-size:15px;
    }
		
		
	}
  
</style>