---

---
<section id="/" class="hero">
  <article>
    <h1 class=" text-9xl m-10">I O Forge</h1>
    <p class="text-2xl">Software Solutions for Enterprise Resource Planning</p>
  </article>
  <figure>

  </figure>
  <figcaption>
  </figcaption>
</section>
<style>
</style>