---
import HeaderLink from "./HeaderLink.astro";
---
<article id="/" class=" hero responsive background center">
  <section class="center hero_container ">
    <section class="z-10 top mb-10">
    <img  src="nlogo2.webp" alt="hero logo" width="250px" height="250px"/>
    <section class="head">
    <h1 class=" h1Text font-bold">I.O. Forge</h1>
    <h2 class=" h2Text ">Software Solutions</h2>
    </section>
    </section>
    
    
    <section class="hText z-10 pl-10 mb-10">
     <ul class="subText h4Text text-left">
      <li><h3>Data Analytics</h3></li>
      <li><h3>Enterprise Resource Planning</h3></li>
      <li><h3>Web Portals and Platforms</h3></li>
     </ul>
      </section>
      <h4 class="h4Text icon mt-10"><HeaderLink href="#contact" class= "p-5 bg-slate-500 icon shadow-2xl">Contact</HeaderLink></h4>

  </section>
  <div><img loading="lazy" src="nlogo2.webp" alt="Logo" width="250px" height="250px"/></div>
  <div><img loading="lazy" src="nlogo2.webp" alt="Logo" width="250px" height="250px"/></div>
  <div><img loading="lazy" src="nlogo2.webp" alt="Logo" width="250px" height="250px"/></div>
  <div><img loading="lazy" src="nlogo2.webp" alt="Logo" width="250px" height="250px"/></div>
  <div><img loading="lazy" src="nlogo2.webp" alt="Logo" width="250px" height="250px"/></div>
  
</article>
<style>
  section{
    color:aliceblue;
  }
 .subText{
  display:flex; 
  flex-direction:column;
  gap:20px;
 }
  .hero_container{
    border-radius:10px;
    
    height:auto;
    width:auto;
    display:flex;
    flex-direction: column;
  }
 
  .top{
    display:flex;
    justify-content: center;
    align-items:center;
    align-content:center;
    
    }
  .head{
    align-items:center;
    justify-content:center;
    align-content:center;
  }
  .icon{
    border-radius:10px;
  }
  .icon:hover{
    --tw-bg-opacity: 1;
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
  transform:scale(1.2)
  }
  .icon:active{
    --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  color:cadetblue
  }
  
  
  p{
    color:rgb(235, 233, 233);
    border-radius:10px;
  }


/* animation for background */
  @keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0;
        border-radius: 20%;
        
    }
    20%{
      opacity:0;
    }
    
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 1;
        border-radius: 100%;
        
    } 
}


/* Animated background */
.background {
    height:100vh;
    width:auto;
    top: 0;
    left: 0;
    
    padding:5vh;
    background: #334155;
    overflow: hidden;
}
.background div {
    position: absolute;
    display: flex;
    align-items:center;
    justify-content:center;
    list-style: none;
    width: 20px;
    height: 20px;
    /* background: rgba(255, 255, 255, 0.2); */
    animation: animate 19s linear infinite;
    z-index:0;
    opacity:0;
}


/* Animated Background Squares */

.background div:nth-child(0) {
    left: 38%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 1s;
}
.background div:nth-child(1) {
    left: 43%;
    width: 145px;
    height: 145px;
    bottom: -145px;
    animation-delay: 1s;
}
.background div:nth-child(2) {
    left: 26%;
    width: 150px;
    height: 150px;
    bottom: -150px;
    animation-delay: 8s;
}
.background div:nth-child(3) {
    left: 70%;
    width: 93px;
    height: 93px;
    bottom: -93px;
    animation-delay: 15s;
}
.background div:nth-child(4) {
    left: 60%;
    width: 47px;
    height: 47px;
    bottom: -47px;
    animation-delay: 2s;
}
















  @media(max-width:1000px){
    img{
      width:150px;
      height:150px;
    }
    /* .hTitle{
      font-size:60px;
    }
    p{
      font-size:25px;
    } */
  }


  @media (max-width:700px) {
		img{
      width:100px;
      height:100px;
    }
    
    /* .hTitle{
      font-size:40px;
    }
    p{
      font-size:20px;
    }
		 */
		
	}
  
</style>