---

---
<article id="/" class="hero responsive ">
  <section class="center bg-slate-400 bg-opacity-25">
    <h1 class=" text-9xl m-10">I O Forge</h1>
    <p class="text-2xl">Software Solutions for Enterprise Resource Planning</p>
  </section>
 
</article>
<style>
  section{
    color:aliceblue;
  }
  .hero{
    background-image:url("/iohero.svg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

  }
</style>