---
import HeaderLink from "./HeaderLink.astro";

---

<header class="sticky top-0 z-50 shadow-md" >
	
	<nav>
		<span class="logo text-2xl flex items-center"><img src="/logo.svg" width="50px" height="30px" alt="logo"></picture><HeaderLink href="/">I. O. Forge</HeaderLink></span>
		
		<div id="navItems" class="navItems">
			<HeaderLink class="shadow-lg btnText" href="#about">About</HeaderLink>
			<HeaderLink class="shadow-lg btnText" href="#features">Features</HeaderLink>
			<HeaderLink class="shadow-lg btnText" href="#product">Products and Services</HeaderLink>
			<HeaderLink class="shadow-lg btnText" href="#system">System Design</HeaderLink>
			<HeaderLink class="shadow-lg btnText" href="#contact">Contact</HeaderLink>
		</div>
		<div class="menu p-5">
			<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  	<a id="menuButton"  class="icon shadow-lg" >
    <i class="fa fa-bars pText"></i>
  </a>
	</div>
	</nav>
</header >

<script src="../../scripts/menu.js"></script>
<style>
	header{
		/* border-bottom:1px solid white; */
	}
	nav{
		display:flex;
		flex-direction: row;
		justify-content:space-between;
		align-items:center;
		
		
		padding-right:10px;
		
		
	
		transition:all 0.2s ease-in-out;	
		--bg-opacity: 1;
  		background-color: rgb(248 250 252 / var(--bg-opacity));
		
	}
	.logo{
		margin:15px;
		display:block;
		--tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	}
	.logo:hover{
		transform: scale(1.1);
	color:cadetblue;
	}

	.navItems{
		display:flex;
		align-content:center;
		gap:10px;
		align-self:;
		flex-wrap:nowrap;
		--tw-bg-opacity: 1;
  		background-color: rgb(248 250 252 / var(--tw-bg-opacity));
		
	}
	.navItems a{
		--tw-bg-opacity: 1;
  	background-color: rgb(248 250 252 / var(--tw-bg-opacity));
		--tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
		text-align:center;
		font-weight:bold;
		padding:10px;
		font-family: 'Lato', sans-serif;
		border-radius: 10px;
		flex:1 0 1;
		color:rgb(102, 102, 102);
	}
	.navItems a:hover{
		transform:scale(1.2);
		--tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
	}
	.navItems a:active{
		transform:scale(1);
		--tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
	color:cadetblue;
	}

	.menu{
		display:block;
	
	}
	.icon{
		
		padding:15px;
		border-radius:10px;
	}

	.icon:hover{
		--tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
		
	
	}
	.menu:hover{
		transform:scale(1.2);
	}
	.menu:active{
		transform:scale(1.0);
	}

	.icon:active{
		transform:scale(1.0);
		--tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
	color:cadetblue;
	}
	@media(max-width:800px){
		img{
			width:50px;
			height:50px;
		}
	}


	@media (max-width:900px) {
		.navItems{
			flex-direction: column;
		}
		
		
	}
	@media(max-width:420px){
		.navItems{
			font-size: 14px;
		}
		.logo{
			flex-direction:column;
			
		}
	}

</style>
