---
import HeaderLink from "./HeaderLink.astro";

---

<header class="sticky top-0 z-50 shadow-md" >
	
	<nav>
		<span class="logo text-2xl"><HeaderLink href="/">I. O. Forge</HeaderLink></span>
		
		<div id="navItems" class="navItems">
			<HeaderLink class="shadow-lg" href="#about">About</HeaderLink>
			<HeaderLink class="shadow-lg" href="#features">Features</HeaderLink>
			<HeaderLink class="shadow-lg" href="#product">Products</HeaderLink>
			<HeaderLink class="shadow-lg" href="#pricing">Pricing</HeaderLink>
			<HeaderLink class="shadow-lg" href="#contact">Contact</HeaderLink>
		</div>
		<div class="menu p-5">
			<!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  	<a id="menuButton"  class="icon shadow-lg" >
    <i class="fa fa-bars"></i>
  </a>
	</div>
	</nav>
</header >

<script src="../../scripts/menu.js"></script>
<style>
	header{
		/* border-bottom:1px solid white; */
	}
	nav{
		display:flex;
		flex-direction: row;
		justify-content:space-between;
		align-items:center;
		
		
		padding-right:10px;
		padding-top:10px;
		padding-bottom:10px;
	
		transition:all 0.2s ease-in-out;	
		--bg-opacity: 1;
  		background-color: rgb(248 250 252 / var(--bg-opacity));
		
	}
	.logo{
		margin:15px;
		display:block;
	}
	.logo:hover{
		--tw-bg-opacity: 1;
  color: rgb(203 213 225 / var(--tw-bg-opacity)) ;
	}

	.navItems{
		display:flex;
		align-content:center;
		gap:10px;
		
		flex-wrap:nowrap;
		--tw-bg-opacity: 1;
  		background-color: rgb(248 250 252 / var(--tw-bg-opacity));
		
	}
	.navItems a{
		--tw-bg-opacity: 1;
  		background-color: rgb(248 250 252 / var(--tw-bg-opacity));
		
		padding:10px;
		font-family: 'Lato', sans-serif;
		border-radius: 10px;
		flex:1 0 1;
	}
	.navItems a:hover{
		transform:scale(1.2);
		--tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
	}
	.navItems a:active{
		--tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
	color:aliceblue;
	}

	.menu{
		display:block;
		
	}
	.icon{
		padding:10px;
		border-radius:10px;
	}

	.icon:hover{
		--tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
		transform:scale(1.5);
	}

	.icon:active{
		--tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
	color:aliceblue;
	}
	


	@media (max-width:670px) {
		.navItems{
			flex-direction: column;
		}
		
		
	}

</style>
