---

---
<article id="pricing" class="pricing box center bg-red-50 box">
  <section class="title center">
    <h2>IO Forge Prices</h2>
    
  </section>
  <article class="pricing_container">

    <section class="price">
      <h3>Price</h3>
      <p>SubText</p>
      <figure>
    </figure>
    <figcaption>
    </figcaption>
  </section>

    <section class="price">
      <h3>Price</h3>
      <p>SubText</p>
      <figure>
    </figure>
    <figcaption>
    </figcaption>
  </section>

    <section class="price">
      <h3>Price</h3>
      <p>SubText</p>
      <figure>
    </figure>
    <figcaption>
    </figcaption>
  </section>
  
</article>
</article>
<style>
  .pricing_container{
  height:75%;
  width:75%;
  padding:5%;
  display:grid;
  grid-template-columns: 30% 30% 30%;
  /* grid-template-rows: 30% 30% 30%;  */
  column-gap: 5%;
  row-gap: 5%;
}



.price {
  background: #444;
  border: 1px solid #555;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content: center;
  color: #AAA;
}
h3,p{
  flex:auto;
}

  
</style>