---

---
<article id="system" class="system center bg-slate-200">
  <section class="title center shadow-lg bg-slate-100">
    <h2>The IO Forge System</h2>
    
    </section>
  <article class="container shadow-lg bg-slate-100">

   

</article>
</article>
<style>
  .container{
 height:auto;
 width:auto;
  padding:3%;
  
    
  display:flex;
  gap:20px;
  margin-bottom:15%;
  border-radius:10px;
}
.system{
  height:auto;
  width:auto;
  padding:5%;
  padding-top:25%;
  padding-bottom:25%;
}



.title{
  border-radius:10px;
  font-weight:bold;
  margin-bottom:10%;
  font-size:40px;
    color:rgb(100, 100, 100);

}
</style>