---

---
<article id="pricing" class="pricing center bg-slate-200">
  <section class="title center shadow-lg bg-slate-100">
    <h2>IO Forge Prices</h2>
    </section>
  <article class="pricing_container shadow-lg bg-slate-100">

    <section class="price bg-slate-500 text-white">
      <h3 class="text-xl">Service One</h3>
      <p class="text-2xl"><strong>$1000.00</strong></p>
      <p>This is the description of the pricing features avaiable in service one.</p>
      <p>Second set of subtext defining another set of perks.</p>
      <div>
      <p>What's Included</p>
      <hr style="border:1px solid white">
      <ul>
        <li>Item One</li>
        <li>Item Two</li>
        <li>Item Three</li>
      </ul>
    </div>
  </section>

  <section class="price bg-slate-500 text-white">
    <h3 class="text-xl">Service Two</h3>
    <p class="text-2xl"><strong>$1000.00</strong></p>
    <p>This is the description of the pricing features avaiable in service one.</p>
    <p>Second set of subtext defining another set of perks.</p>
    <div>
    <p>What's Included</p>
    <hr style="border:1px solid white">
    <ul>
      <li>Item One</li>
      <li>Item Two</li>
      <li>Item Three</li>
    </ul>
  </div>
</section>

<section class="price bg-slate-500 text-white">
  <h3 class="text-xl">Service Three</h3>
  <p class="text-2xl"><strong>$1000.00</strong></p>
  <p>This is the description of the pricing features avaiable in service one.</p>
  <p>Second set of subtext defining another set of perks.</p>
  <div>
  <p>What's Included</p>
  <hr style="border:1px solid white">
  <ul>
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
  </ul>
</div>
</section>
  
</article>
</article>
<style>
  .pricing_container{
 height:auto;
 width:auto;
  padding:15%;
  
    
  display:flex;

  margin-bottom:15%;
  border-radius:10px;
}
.pricing{
  height:auto;
  width:auto;
  padding:10%;
}


.price {
  background: #444;
  border: 1px solid #fffdfd;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content: center;
  color: #AAA;
  height:40%;
  padding:5%;
  margin-bottom:5%;
  border-radius:10px;
}
h3,p{
  flex:auto;
  padding-bottom:5%;
  
}
.title{
  border-radius:10px;
  font-weight:bold;
  margin-bottom:10%;
  font-size:40px;
    color:rgb(100, 100, 100);

}
@media (max-width:670px) {
		.pricing_container{
			flex-direction: column;
      padding:0%;
      width:100%;
		}
    .price{
      font-size:12px;
    }
    .pricing{
      height:250vh;
    }
		
		
	}
  
</style>