---

---
<article id="pricing" class="pricing box center bg-red-50 box">
  <section class="title center">
    <h2 class="text-3xl">IO Forge Prices</h2>
    
  </section>
 
  <article class="pricing_container">

    <section class="price">
      <h3 class="text-xl">Service One</h3>
      <p class="text-2xl"><strong>$1000.00</strong></p>
      <p>This is the description of the pricing features avaiable in service one.</p>
      <p>Second set of subtext defining another set of perks.</p>
      <div>
      <p>What's Included</p>
      <hr style="border:1px solid white">
      <ul>
        <li>Item One</li>
        <li>Item Two</li>
        <li>Item Three</li>
      </ul>
    </div>
  </section>

  <section class="price">
    <h3 class="text-xl">Service Two</h3>
    <p class="text-2xl"><strong>$1000.00</strong></p>
    <p>This is the description of the pricing features avaiable in service one.</p>
    <p>Second set of subtext defining another set of perks.</p>
    <div>
    <p>What's Included</p>
    <hr style="border:1px solid white">
    <ul>
      <li>Item One</li>
      <li>Item Two</li>
      <li>Item Three</li>
    </ul>
  </div>
</section>

<section class="price">
  <h3 class="text-xl">Service Three</h3>
  <p class="text-2xl"><strong>$1000.00</strong></p>
  <p>This is the description of the pricing features avaiable in service one.</p>
  <p>Second set of subtext defining another set of perks.</p>
  <div>
  <p>What's Included</p>
  <hr style="border:1px solid white">
  <ul>
    <li>Item One</li>
    <li>Item Two</li>
    <li>Item Three</li>
  </ul>
</div>
</section>
  
</article>
</article>
<style>
  .pricing_container{
 height:75%;
 width:75%;
  padding:5%;

  display:flex;

  margin-bottom:5%;
}
.pricing{
  height:200vh;
  width:auto;
}


.price {
  background: #444;
  border: 1px solid #fffdfd;
  display: flex;
  flex-flow:column;
  align-items: center;
  justify-content: center;
  color: #AAA;
  height:40%;
  margin-bottom:5%;
}
h3,p{
  flex:auto;
  padding-bottom:5%;
  
}
@media (max-width:660px) {
		.pricing_container{
			flex-direction: column;
      padding:0%;
      width:100%;
		}
    .price{
      font-size:12px;
    }
		
		
	}
  
</style>