---

---
<article id="product" class="products center bg-green-50">
  <section class="center title">
    <h2>Products of IO Forge</h2>
    
  </section>
  <article class="product_container">

    <section class="product">
      <figure>
    </figure>
    <figcaption>
      <h2>Product One</h2>
      <p>SubText</p>
    </figcaption>
  </section>

    <section class="product">
      <figure>
    </figure>
    <figcaption>
      <h2>Product Two</h2>
      <p>SubText</p>
    </figcaption>
  </section>

    <section class="product">
      <figure>
    </figure>
    <figcaption>
      <h2>Product Three</h2>
      <p>SubText</p>
    </figcaption>
  </section>
  
</article>
</article>
<style>
.product_container{
  
  padding:5%;
  display:grid;
  /* grid-template-columns: 30% 30% 30%; */
  grid-template-rows: 30% 30% 30%; 
  column-gap: 5%;
  row-gap: 5%;
}



.product {
  background: #444;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
}
  
</style>