---

---
<section id="product" class="products center bg-green-50">
  <article>
    <h2>Why use IO Forge?</h2>
    
  </article>
  <section class="product_container center">

    <article class="product">
      <figure>
    </figure>
    <figcaption>
      <h2>Product One</h2>
      <p>SubText</p>
    </figcaption>
  </article>

    <article class="product">
      <figure>
    </figure>
    <figcaption>
      <h2>Product Two</h2>
      <p>SubText</p>
    </figcaption>
  </article>

    <article class="product">
      <figure>
    </figure>
    <figcaption>
      <h2>Product Three</h2>
      <p>SubText</p>
    </figcaption>
  </article>
  
  </section>
</section>
<style>
  
</style>