---
import HeaderLink from "./HeaderLink.astro";
---
<article id="product" class=" core_section center bg-slate-100">
  <section class="center title shadow-lg bg-slate-200">
    <img  src="nlogo2.webp" alt="hero logo" width="125px" height="125px"/>
    <h2 class="h2Text">Services of IO Forge</h2>
  </section>
  <article class="product_container shadow-lg bg-slate-200">

    <section class="product bg-slate-100  text-white drop-shadow-lg">
      <div class="p-10">
        <img  alt="product1" src="data2.webp"class="product_one" width="500px" height="500px" ></img>
        </div>
      
      <div class="text bg-slate-200">
        <section class=" pTitle bg-slate-500">
        <h3 class="h3Text" >Data Analytics</h3>
        </section>
        <p class="pText">This toolset is the base-level of our software solutions system.</p>
          <p class="pText">It allows us to map out the data from your business and give you 
          a detailed overview of everything your company takes in, and what it puts out, in an easy simple to understand way.</p>
        <p class="pLabel">Service Details</p>
        <hr style="border:1px solid">
        <ul class="list">
          <li class="pText"><strong>Data Filtering</strong>:<p>We sort your business data in real time and save it for historical analysis.</p></li>
          <li class="pText"><strong>Database Integration</strong>:<p>Your business data is integrated into our specialized database for organization and further processes.</p></li>
          <li class="pText"><strong>Data Modeling</strong>:<p> The database attaches your business data into relevant data correlation systems to provide an accurate analysis.</p></li>
          <li class="pText"><strong>Data Representation</strong>:<p> Customizable charts, graphs, diagrams, and other visual representations of your data are provided.</p></li>
        </ul>
        <section class="bText bg-slate-700 drop-shadow-lg p-10">
          <HeaderLink  href="#contact"><h3 class="h3Text">Contact for More Information</h3></HeaderLink>
        </section>
     </div>
    </section>

    <section class="product bg-slate-100  text-white drop-shadow-lg">
      <div class="p-10">
        <img  alt="product2" src="erpproduct.webp"class="product_one" width="500px" height="500px" ></img>
        </div>
      <div class="text bg-slate-200">
        <section class=" pTitle bg-slate-500">
        <h3 class="h3Text">Enterprise Resource Planning</h3>
        </section>
        <p class="pText">The high-level version of our Data Analytics system, based on modern enterprise resource planning techniques, our software system will optimize your
          business for increased efficency</p><p class="pText">The difference between our system and other quality management products is speed and our ability to customize the system to your specific business needs.</p>
        <p class="pLabel">Service Details</p>
        <hr style="border:1px solid">
        <ul class="list">
          <li class="pText">A <strong>quality management system</strong> built to support all core business processes.</li>
          <li class="pText">High-Level Processes Included: 
            <ul class="detail_container font-bold">
              <li class="detailItem pText">Order Management</li>
              <li class="detailItem pText">Inventory Management</li>
              <li class="detailItem pText">Production</li>
              <li class="detailItem pText">Shipping</li>
              <li class="detailItem pText">Reporting</li>
              <li class="detailItem pText">Invoicing</li>
              <li class="detailItem pText">Database Management</li>
              <li class="detailItem pText">Strategic and Operational Planning</li>
            </ul>
          <li class="pText">The IO-Forge System is managed by a <strong> former ISO certified auditor and management representative</strong>.</li>
          <li class="pText"><strong>Machine Learning</strong> and <strong>Automation</strong> are built into the system to provide the best possible results.</li>
        </ul>
        <section class="bText bg-slate-700 drop-shadow-lg p-10">
          <HeaderLink  href="#contact"><h3 class="h3Text">Contact for More Information</h3></HeaderLink>
        </section>
     </div>
    </section>

<section class="product bg-slate-100 text-white drop-shadow-lg">
  <div class="p-10">
    <img  alt="product3" src="web3d.webp" class="product_one" width="500px" height="500px" ></img>
    </div>

  <div class="text bg-slate-200">
    <section class=" pTitle bg-slate-500">
    <h3 class= "h3Text" >Web and App Platforms</h3>
    </section>
    <p class="pText">Our database is connected to a customizable web portal dashboard.</p><p class="pText">Business data is integrated into this system and can be managed in multiple ways with a flexible load
      balancing server system. </p>
    <p class="pLabel">Service Details</p>
    <hr style="border:1px solid">
    <ul class="list">
      <li class="pText"><strong>Remote Access</strong> our software suite of tools.</li>
      <li class="pText"><strong>Control</strong> your company with an app or website.</li>
      <li class="pText"><strong>Real Time Analytics</strong></li>
      <li class="pText">Modern cyber security techniques.</li>
    </ul>
    <section class="bText bg-slate-700 drop-shadow-lg p-10">
      <HeaderLink  href="#contact"><h3 class="h3Text">Contact for More Information</h3></HeaderLink>
    </section>
 </div>
</section>
  
</article>
</article>
<style>
.product_container{
  height:100%;
  width:100%;
  padding:5%;
  display:flex;
  flex-direction:column;
  
  margin-bottom:0%;
  border-radius:10px;
  gap:100px;
  
}

.list{
 display:flex;
 flex-direction: column;
 color:whitesmoke;
  
}
.list li{
  padding:5px;
  text-align:flex-start;
  padding-left:20px;
 
}

.detailItem{
  border-radius:10px;
  --tw-bg-opacity: 1;
  background-color: rgb(200 210 225 / var(--tw-bg-opacity));

}
.detailContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.product {
  /* border:1px solid black; */
  background: #c4bfbf;
  padding-top:5%; 
  padding-bottom:5%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  gap:5px;
  color: #1a1818;
  max-height:fit-content;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  border-radius:10px;
  width:auto;
}

.title{
    color:rgb(100, 100, 100);
    font-weight:bold;
  border-radius:10px;
  margin-bottom:10%;
}
.pText{
  color:black;
  
}
.text{
  /* border:1px black solid; */
  padding:5px;
  width:80%;
  border-radius:10px;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.text *{
  flex-basis:200%;
}
.product_one{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  min-height:175px;
  min-width:175px;
  max-height:auto;
  max-width:auto;
  border-radius:10px;
  
}

.pTitle{
  font-weight:bold;
 border-radius:10px;
  text-align: center;
}
.pLabel{
  font-size:26px;
  font-weight:bold;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  
}
h2{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
h2,p{
  padding:5px;
  margin-top:5px;
  margin-bottom:5px;
 
}
.bText{
  text-align:center;
  border-radius:10px;
  font-weight:bold;
  
  
}
.bText:hover{
  
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  transform:scale(1.1);
}
.bText:active{
  color:cadetblue;
  transform:scale(0.9);
}

@media (max-width:900px) {
		.product_container{
      
      width:100%;
    }
   
    .product{
      width:100%;
      margin:0%;
      flex-direction:column;

    }
    
   
    .imagesContainer{
  
  flex-direction:row;
    }
		.product_one{
      min-height:250px;
      min-width:250px;
    }
	}
@media(max-width:350px){
  
  .product_one{
      min-height:150px;
      min-width:150px;
    }
}
 
</style>