---
import HeaderLink from "./HeaderLink.astro";
---
<article id="product" class=" core_section center bg-slate-100">
  <section class="center title shadow-lg bg-slate-200">
    <h2>IO Forge</h2>
    <h2>Products and Services</h2>
  </section>
  <article class="product_container shadow-lg bg-slate-200">

    <section class="product bg-slate-400  text-white drop-shadow-lg">
      <span class="imagesContainer">
        <picture class="product_one" ></picture>
        <picture class="product_one" ></picture>
      </span>
      <div class="text">
        <section class=" pTitle bg-slate-500">
        <h2 >Data Analytics</h2>
        </section>
        <p class="pText">This toolset is the main part of our software solutions system.</p>
          <p class="pText">It allows us to map out the data from your business and give you 
          a detailed overview of everything your company takes in, and what it puts out, in an easy simple to understand way.</p>
        <p class="pLabel">Product and Service Details</p>
        <hr style="border:1px solid">
        <ul class="list">
          <li>Data Pre-processing. We clean up all your current data to be usable in multiple software tools.</li>
          <li>Database Integration. We integrate your data into our powerful analysis system.</li>
          <li>Data Modeling. We then optimize our system to create the most efficient solutions for your company.</li>
          <li>Data Representation. Once these steps are complete all your data will be readily available in whatever form your business needs.</li>
        </ul>
        <section class="bText bg-slate-700 drop-shadow-lg">
          <HeaderLink  href="#contact"><h2>Contact for more Information</h2></HeaderLink>
        </section>
     </div>
    </section>

    <section class="product bg-slate-400  text-white drop-shadow-lg">
      <span>
        <picture class="product_one" ></picture>
      </span>
      <div class="text">
        <section class=" pTitle bg-slate-500">
        <h2 >Enterprise Resource Planning</h2>
        </section>
        <p class="pText">The high-level version of our Data Analytics system, based on modern enterprise resource planning techniques, our software system will optimize your
          business for increased efficency. The difference between our system and other commercial product is speed and our ability to customize the system to your specific business needs.</p>
        <p class="pLabel">Product and Service Details</p>
        <hr style="border:1px solid">
        <ul class="list">
          <li>A quality management system built to support all core business processes.</li>
          <li>Processes included: 
            <ul class="detail_container">
              <li class="detailItem">Finance</li>
              <li class="detailItem">Human Resources</li>
              <li class="detailItem">Logistics Management</li>
              <li class="detailItem">Maintenance Management</li>
              <li class="detailItem">Sales and Distribution</li>
              <li class="detailItem">Quality Management</li>
              <li class="detailItem">Materials Management</li>
              <li class="detailItem">Manufacturing Management</li>
              <li class="detailItem">Strategic and Operational Planning</li>
            </ul>
          <li>A ISO Certified Quality Management System run by a former ISO certified auditor and management representative.</li>
          <li>Machine Learning and Automation are built into the system to provide the best possible results.</li>
        </ul>
        <section class="bText bg-slate-700 drop-shadow-lg">
          <HeaderLink  href="#contact"><h2>Contact for more Information</h2></HeaderLink>
        </section>
     </div>
    </section>

<section class="product bg-slate-400 text-white drop-shadow-lg">
  <span>
    <picture class="product_one" ></picture>
  </span>
  <div class="text">
    <section class=" pTitle bg-slate-500">
    <h2 >Web and App Platforms</h2>
    </section>
    <p class="pText">Our database is connected to a customizable web portal dashboard. Business data is integrated into this system and can be managed in multiple ways with a flexible load
      balancing server system. </p>
    <p class="pLabel">What's Included</p>
    <hr style="border:1px solid">
    <ul class="list">
      <li>Remote Access our software suite of tools.</li>
      <li>Control your company with an app or website.</li>
      <li>Modern cyber security techniques will maintain your data as it is transferred.</li>
      <li>Calender, Messaging Systems, Real Time Analytics</li>
    </ul>
    <section class="bText bg-slate-700 drop-shadow-lg">
      <HeaderLink  href="#contact"><h2>Contact for more Information</h2></HeaderLink>
    </section>
 </div>
</section>
  
</article>
</article>
<style>
.product_container{
  height:100%;
  width:100%;
  padding:5%;
  display:flex;
  flex-direction:column;
  gap:5%;
  margin-bottom:0%;
  border-radius:10px;
  
  
}
.list{
 display:flex;
 flex-direction: column;
 color:whitesmoke;
  
}
.list li{
  padding:5px;
  text-align:flex-start;
  padding-left:20px;
  font-size:22px;
}

.detailItem{
  border-radius:10px;
  --tw-bg-opacity: 1;
  background-color: rgb(150 210 225 / var(--tw-bg-opacity));

}
.detailContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.product {
  background: #c4bfbf;
  padding:5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:5px;
  color: #1a1818;
  max-height:fit-content;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  border-radius:10px;
  width:auto;
}
.imagesContainer{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  padding:5%;
}
.title{
  font-size:40px;
    color:rgb(100, 100, 100);
    font-weight:bold;
  border-radius:10px;
  margin-bottom:10%;
}
.pText{
  color:whitesmoke;
  font-size:24px;
}
.text{
  border:1px white solid;
  padding:5px;
  width:80%;
  border-radius:10px;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.text *{
  flex-basis:200%;
}
.product_one{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  background-image:url("/ioproduct1.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  min-height:250px;
  min-width:250px;
  max-height:fit-content;
  max-width:fit-content;
  border-radius:10px;
  max-width:100%;
  height:auto;
  padding:20%;
}
.pTitle{
  font-weight:bold;
  font-size:36px;
 border-radius:10px;
  text-align: center;
}
.pLabel{
  font-size:26px;
  font-weight:bold;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}
h2{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
h2,p{
  padding:5px;
  margin-top:5px;
  margin-bottom:5px;
 
}
.bText{
  text-align:center;
  border-radius:10px;
  font-weight:bold;
  font-size:20px;
  
}
.bText:hover{
  
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  transform:scale(1.1);
}
.bText:active{
  color:cadetblue;
  transform:scale(0.9);
}

@media (max-width:700px) {
		.product_container{
      
      width:100%;
    }
   
    .product{
      width:100%;
      margin:0%;
      flex-direction:column;

    }
    
    .text{
      font-size: 18px;
    }
    .imagesContainer{
  
  flex-direction:row;
    }
		.product_one{
      min-height:125px;
      min-width:125px;
    }
	}
 
</style>