---
import HeaderLink from "./HeaderLink.astro";
---
<article id="product" class=" core_section center bg-slate-100">
  <section class="center title shadow-lg bg-slate-200">
    <h2 class="h2Text">IO Forge</h2>
    <h2 class="h2Text">Products and Services</h2>
  </section>
  <article class="product_container shadow-lg bg-slate-200">

    <section class="product bg-slate-100  text-white drop-shadow-lg">
      <div class="p-10">
        <img class="product_one" width="500px" height="500px" ></img>
        </div>
      
      <div class="text bg-slate-200">
        <section class=" pTitle bg-slate-500">
        <h3 class="h3Text" >Data Analytics</h3>
        </section>
        <p class="pText">This toolset is the main part of our software solutions system.</p>
          <p class="pText">It allows us to map out the data from your business and give you 
          a detailed overview of everything your company takes in, and what it puts out, in an easy simple to understand way.</p>
        <p class="pLabel">Product and Service Details</p>
        <hr style="border:1px solid">
        <ul class="list">
          <li class="pText">Data Pre-processing. We clean up all your current data to be usable in multiple software tools.</li>
          <li class="pText">Database Integration. We integrate your data into our powerful analysis system.</li>
          <li class="pText">Data Modeling. We then optimize our system to create the most efficient solutions for your company.</li>
          <li class="pText">Data Representation. Once these steps are complete all your data will be readily available in whatever form your business needs.</li>
        </ul>
        <section class="bText bg-slate-700 drop-shadow-lg">
          <HeaderLink  href="#contact"><h3 class="h3Text">Contact for more Information</h3></HeaderLink>
        </section>
     </div>
    </section>

    <section class="product bg-slate-100  text-white drop-shadow-lg">
      <div class="p-10">
        <img class="product_one" width="500px" height="500px" ></img>
        </div>
      <div class="text bg-slate-200">
        <section class=" pTitle bg-slate-500">
        <h3 class="h3Text">Enterprise Resource Planning</h3>
        </section>
        <p class="pText">The high-level version of our Data Analytics system, based on modern enterprise resource planning techniques, our software system will optimize your
          business for increased efficency. The difference between our system and other commercial product is speed and our ability to customize the system to your specific business needs.</p>
        <p class="pLabel">Product and Service Details</p>
        <hr style="border:1px solid">
        <ul class="list">
          <li class="pText">A quality management system built to support all core business processes.</li>
          <li class="pText">Processes included: 
            <ul class="detail_container">
              <li class="detailItem pText">Finance</li>
              <li class="detailItem pText">Human Resources</li>
              <li class="detailItem pText">Logistics Management</li>
              <li class="detailItem pText">Maintenance Management</li>
              <li class="detailItem pText">Sales and Distribution</li>
              <li class="detailItem pText">Quality Management</li>
              <li class="detailItem pText">Materials Management</li>
              <li class="detailItem pText">Manufacturing Management</li>
              <li class="detailItem pText">Strategic and Operational Planning</li>
            </ul>
          <li class="pText">The IO Forge system is managed by a former ISO certified auditor and management representative.</li>
          <li class="pText">Machine Learning and Automation are built into the system to provide the best possible results.</li>
        </ul>
        <section class="bText bg-slate-700 drop-shadow-lg">
          <HeaderLink  href="#contact"><h3 class="h3Text">Contact for more Information</h3></HeaderLink>
        </section>
     </div>
    </section>

<section class="product bg-slate-100 text-white drop-shadow-lg">
  <div class="p-10">
    <img class="product_one" width="500px" height="500px" ></img>
    </div>

  <div class="text bg-slate-200">
    <section class=" pTitle bg-slate-500">
    <h3 class= "h3Text" >Web and App Platforms</h3>
    </section>
    <p class="pText">Our database is connected to a customizable web portal dashboard. Business data is integrated into this system and can be managed in multiple ways with a flexible load
      balancing server system. </p>
    <p class="pLabel">What's Included</p>
    <hr style="border:1px solid">
    <ul class="list">
      <li class="pText">Remote Access our software suite of tools.</li>
      <li class="pText">Control your company with an app or website.</li>
      <li class="pText">Modern cyber security techniques.</li>
      <li class="pText">User system, Messaging Systems, Real Time Analytics</li>
    </ul>
    <section class="bText bg-slate-700 drop-shadow-lg">
      <HeaderLink  href="#contact"><h3 class="h3Text">Contact for more Information</h3></HeaderLink>
    </section>
 </div>
</section>
  
</article>
</article>
<style>
.product_container{
  height:100%;
  width:100%;
  padding:5%;
  display:flex;
  flex-direction:column;
  
  margin-bottom:0%;
  border-radius:10px;
  gap:100px;
  
}
.list{
 display:flex;
 flex-direction: column;
 color:whitesmoke;
  
}
.list li{
  padding:5px;
  text-align:flex-start;
  padding-left:20px;
 
}

.detailItem{
  border-radius:10px;
  --tw-bg-opacity: 1;
  background-color: rgb(200 210 225 / var(--tw-bg-opacity));

}
.detailContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.product {
  border:1px solid black;
  background: #c4bfbf;
  padding-top:5%; 
  padding-bottom:5%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  gap:5px;
  color: #1a1818;
  max-height:fit-content;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  border-radius:10px;
  width:auto;
}

.title{
    color:rgb(100, 100, 100);
    font-weight:bold;
  border-radius:10px;
  margin-bottom:10%;
}
.pText{
  color:black;
  
}
.text{
  border:1px black solid;
  padding:5px;
  width:80%;
  border-radius:10px;
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
.text *{
  flex-basis:200%;
}
.product_one{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  background-image:url("/ioproduct1.svg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  min-height:175px;
  min-width:175px;
  max-height:auto;
  max-width:auto;
  border-radius:10px;
  
}
.pTitle{
  font-weight:bold;
 border-radius:10px;
  text-align: center;
}
.pLabel{
  font-size:26px;
  font-weight:bold;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  
}
h2{
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
h2,p{
  padding:5px;
  margin-top:5px;
  margin-bottom:5px;
 
}
.bText{
  text-align:center;
  border-radius:10px;
  font-weight:bold;
  
  
}
.bText:hover{
  
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  transform:scale(1.1);
}
.bText:active{
  color:cadetblue;
  transform:scale(0.9);
}

@media (max-width:900px) {
		.product_container{
      
      width:100%;
    }
   
    .product{
      width:100%;
      margin:0%;
      flex-direction:column;

    }
    
   
    .imagesContainer{
  
  flex-direction:row;
    }
		.product_one{
      min-height:250px;
      min-width:250px;
    }
	}
 
</style>