---

---
<article id="system" class="core_section center bg-slate-200 font-bold">
  
  <section class="title center shadow-lg bg-slate-100">
    <img  src="nlogo2.webp" alt="hero logo" width="125px" height="125px"/><h2 class="h2Text">The IO Forge System</h2>
    </section>

  <article class="container shadow-lg bg-slate-100 ">

    <section class="flex flex-col sTitle">
    <h3 class="sTitle h3Text">Data Analytics</h3>
    <h4 class="subTitle h4Text">Process</h4>
    </section>

    <section class="node_container">

      <div class="pill pText">
        <p class="aText mb-10">Input</p>
        <div class=" node "> <img loading="lazy" class="system_img" src="filesmess2.webp" alt="your business data" width="175px" height="175px">Your Business Data</div>
      </div>

      <section class="mid aText p-5">
        <img class="system_img ratio" src="datafilter1.webp" alt="data pre-processing step" loading="lazy" width="125px" height="125px">
       <div class="arr">&#8594;</div>
        <span class="p-2 pText "><p>Data</p><p>Pre-Processing</p></span>
        </div>
      </section>

      <div class="pill pText ">
        <p class="aText mb-10">IO Forge Data Analytics</p>
        <img class="system_img" src="nlogo2.webp" alt="IO forge data analytics system" loading="lazy" width="175px" height="175px">
        <div class=" node">Data Analysis</div>
        <div class=" node">Data Modeling</div>
        <div class=" node">Database Integration</div>
        <div class=" node">Market Data Correlation</div>
      </div>

     <section class="mid aText p-5">
      <img class="system_img ratio" src="files1.webp" alt="analyzed data" loading="lazy" width="125px" height="125px">
       <div class="arr">&#8594;</div>
        <span class=" p-2 pText"> <p>Analyzed</p><p>Data</p></span>
        </div>
      </section>

      <div class="pill pText">
        <p class="aText mb-10">Output</p>
        <img class="system_img" src="datafin1.webp" alt="data ready for use"  loading="lazy" width="175px" height="175px">
        <div class=" node">Data Analysis Tools
        </div>
        <div class=" node">Custom Data Modeling
        </div>
        <div class=" node">Custom Data Visual Graphics
        </div>
        <div class=" node">Real-Time Data Tracking
        </div>
      </div>

    </section>
</article>

<article class="container shadow-lg bg-slate-100">
  <section class="flex flex-col ">
  <h3 class="sTitle h3Text">Enterprise Resource Planning</h3>
  <h4 class="subTitle h4Text">System</h4>
  </section>
  <section class="node_container">

  
    <div class="pill pText">
      <p class="aText mb-10">Input</p>
        
      <div class=" node"><img class="system_img" src="files1.webp" alt="analyzed data" loading="lazy" width="175px" height="175px">Analyzed and Cleaned Data</div>
    </div>

    <section class="mid aText p-5">
      <img class="system_img ratio" src="erpsystem.webp" alt="data filtering process" loading="lazy" width="125px" height="125px">
       <div class="arr">&#8594;</div>
        <span class="p-2 pText"> <p>Data<p></p>Filtering</p></span>
        </div>
      </section>
      
    <div class="pill pText ">
      <p class="aText mb-10">IO Forge Entreprise Resource Planning</p>
      <img class="system_img" src="nlogo2.webp" alt="enterprise resource planning system" loading="lazy" width="175px" height="175px">
      <div class=" node ">Smart Data Organization</div>
      <div class=" node  ">Machine Learning and Automation</div>
      <div class=" node">Industry Standard Correlation</div>
    </div>

    <section class="mid aText p-5">
      <img class="system_img ratio" src="erpdata2.webp" alt="enterprise resource planning data" loading="lazy" width="125px" height="125px">
      <div class="arr">&#8594;</div>
       <span class=" p-2 pText"> <p>ERP<p><p>Data</p></span>
       </div>
     </section>

    <div class="pill pText ">
      <p class="aText mb-10">Output</p>
      <img class="system_img" src="repfin1.webp" alt="enterprise resource planning web and app user interface" loading="lazy" width="175px" height="175px">
      <div class=" node  ">Efficiency Suggestions</div>
      <div class=" node ">Priority Management System</div>
      <div class=" node ">Resource and Budgeting Management</div>
      <div class=" node  ">Time and Cost Saving Automation</div>
    </div>

  </section>
</article>

<article class="container bg-slate-100">
  <section class="flex flex-col">
    <h3 class="sTitle h3Text">Web Portal</h3>
    <h4 class="subTitle h4Text">Platform</h4>
    </section>
    <section class="node_container">

      

      <div class="pill pText ">
        <p class="aText mb-10">Input</p>
          
        <div class=" node "><img class="system_img" src="files1.webp" alt="analyzed data" loading="lazy" width="150px" height="150px">Data from Data Analytics Process</div>
        <p class="pText p-5">or</p>
        <div class=" node"><img class="system_img" src="erpdata2.webp" alt="enterprise resource data" loading="lazy" width="150px" height="150px">Data from Enterprise Resource Planning System</div>
      </div>

      <section class="mid aText p-5">
        <img class="system_img ratio" src="database2.webp" alt="data management" loading="lazy" width="125px" height="125px">
        <div class="arr">&#8594;</div>
         <span class=" p-2 pText "> <p>Data</p><p>Management</p></span>
         </div>
       </section>

      <div class="pill pText ">
        <p class="aText mb-10">IO Forge Web Platform</p>
        <img class="system_img" src="nlogo2.webp" alt="web platform integration" loading="lazy" width="175px" height="175px">
        <div class=" node">Data and Functionality Organized into Components</div>
        <div class=" node">Flexible Widget Grid Dashboard</div>
        <div class=" node">Database and Analytical Tool Integration</div>
      </div>

      <section class="mid aText p-5">
        <img class="system_img ratio" src="dataencrypt1.webp" alt="end to end data encryption" loading="lazy" width="125px" height="125px">
        <div class="arr">&#8594;</div>
         <span class="p-2 pText"> <p>Data</p><p >Encryption</p></span>
         </div>
       </section>

      <div class="pill pText ">
        <p class="aText mb-10">Output</p>
        <img class="system_img" src="webfin.webp" alt="web portal" loading="lazy" width="175px" height="175px">
        <div class=" node">Remote Access Web Portal</div>
        <div class=" node">Apps for Data Analysis and/or Enterprise Resource Planning
        </div>
        <div class=" node">Dashboard for Business Data and Operations Management
        </div>
      </div>

  </section>
</article>

</article>
<style>
  
  .container{
 height:auto;
 width:auto;
  padding:3%;
  flex-direction:column;
  display:flex;
  
  margin-bottom:15%;
  border-radius:10px;
}


.title{
  border-radius:10px;
  font-weight:bold;
  margin-bottom:10%;
 
    color:rgb(100, 100, 100);

}
.sTitle{
  border-radius:10px;
  font-weight:bold;
  
 
  color:rgb(100, 100, 100);
}
.subTitle{
  
  font-weight:bold;
  margin-bottom:5%;

  color:rgb(100, 100, 100);
}

/* flowchart 1 */

.node_container{
  display:flex;
  flex-direction:row;
  width:auto;
  height:auto;
  
  border-radius:10px;
}
.mid{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
 
  }
  .arr{
    font-size:100px;
    
  }
.aText{
  color:rgb(100, 100, 100);
  font-weight:bold;
}

.pill,
.node {
  padding-left:5%;
  padding-right:5%;
  padding-top:2%;
  padding-bottom:2%;
  text-align: center;
  border: 1px solid #999;
  border-radius:10px;
}

.pill {
  flex: 1;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
  display: flex;
  
  flex-direction:column;
  align-items:center;
  justify-content:center;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.node {
  
  flex: 0;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin: auto 0;
  color:rgb(42,45,30);
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}


.system_img{
  
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius:10px;
  min-height:100px;
  min-width:100px;
  margin:5%;
  max-width:100%;
  height:auto;
  
  --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}



@media(max-width:1400px){
  .node_container{
    flex-direction: column;
  }
  .mid{
    flex-direction:row;
  }
  .arr{
    transform:rotate(90deg);
  }
  
 
}
@media(max-width:500px){
  .system_img{
    min-width:75px;
    min-height:75px;
  }
  .arr{
    font-size:50px;
  }
}
@media(max-width:320px){
  .system_img{
    min-width:50px;
    min-height:50px;
  }
  .arr{
    font-size:50px;
  }
}




</style>