.center{
  display:grid;
  place-items:center;
}


.title{
  padding:5%;
}

h1,h2,h3,p,body{
  font-family: 'Lato', sans-serif;
} 

.responsive{
  max-width:100%;
  height:auto;
  padding:20%;
}

section{
  width:auto !important;
  height:auto!important;
}