.center{
  display:grid;
  place-items:center;
}

.title{
  padding:5vh;
}

h1,h2,h3,p,body{
  font-family: 'Lato', sans-serif;
}
.h1Text{
  font-size:clamp(2.8rem,5vw,4rem);
}
.h2Text{
  font-size:clamp(2.2rem,4vw,2.8rem);
}
.h3Text{
  font-size:clamp(2rem,3.5vw,2.4rem);
}
.h4Text{
  font-size:clamp(1.8rem,3vw,2.4rem);
}
.pText{
  font-size:clamp(1.6rem,2.5vw,1.6rem);
}
.btnText{
  font-size:clamp(1.2rem,1.5vw,1.4rem);
} 
.hide{
  display:none;
}

.responsive{
  max-width:100%;
  height:auto;
  padding:20%;
}

section{
  width:auto !important;
  height:auto!important;
}

.core_section{
  height:auto;
  width:auto;
  padding:5vw;
  padding-top:clamp(20vh,30vh,50vh);
  padding-bottom:25vh;
}

/* @media(max-width:1000px){

  .core_section{
   
    padding-top:35vh;
  }
  
} */
