---
import Header from "../components/core/Header.astro";
import NavBar from "../components/core/NavBar.astro";
import Footer from "../components/core/Footer.astro";
import HeroSection from "../components/core/HeroSection.astro";
import AboutSection from "../components/core/AboutSection.astro";
import FeatureSection from "../components/core/FeatureSection.astro";
import ProductSection from "../components/core/ProductSection.astro";
import PricingSection from "../components/core/PricingSection.astro";
import ContactSection from "../components/core/ContactSection.astro";

---

<html lang="en">
<Header/>
	<body class="relative">
		<NavBar/>
		<HeroSection/>
		<AboutSection/>
		<FeatureSection/>
		<ProductSection/>
		<PricingSection/>
		<ContactSection/>
	</body>
<Footer/>
</html>
